@page
@model CoffeeSlotMachine.Web.Pages.CoffeeReadyModel
@{
    ViewData["Title"] = "Coffee Ready";
}

  <h2>@ViewData["Message"]</h2>

  <form method="post">

    <div class="form-group">
      <label asp-for="@Model.ActualOrder.Product.Name">ProductName:</label>
      <input asp-for="@Model.ActualOrder.Product.Name" class="form-control"
             readonly="readonly" />
    </div>

    <div class="form-group">
      <label asp-for="@Model.ActualOrder.Product.PriceInCents">Price:</label>
      <input asp-for="@Model.ActualOrder.Product.PriceInCents" class="form-control" readonly="readonly" />
    </div>
    <div class="form-group">
      <label asp-for="@Model.ActualOrder.ThrownInCents">ThrownInCents:</label>
      <input asp-for="@Model.ActualOrder.ThrownInCents" class="form-control" readonly="readonly" />
    </div>
    <div class="form-group">
      <label asp-for="@Model.ActualOrder.ReturnCents">ReturnCents:</label>
      <input asp-for="@Model.ActualOrder.ReturnCents" class="form-control" readonly="readonly" />
    </div>
    <div class="form-group">
      <label asp-for="@Model.ReturnCoinsString">Return Coins:</label>
      <input asp-for="@Model.ReturnCoinsString" class="form-control" readonly="readonly" />
    </div>
    <div class="form-group">
      <label asp-for="@Model.CoinDepotString">CoinDepot:</label>
      <input asp-for="@Model.CoinDepotString" class="form-control" readonly="readonly" />
    </div>

    @if (@Model.ActualOrder.DonationCents > 0)
    {
      <div class="form-group">
        <label asp-for="@Model.ActualOrder.DonationCents">Donation Cents:</label>
        <input asp-for="@Model.ActualOrder.DonationCents" class="form-control"
               readonly="readonly" />
      </div>
    }

    <div class="form-group">
      <label>Thank you for your purchase!</label>
    </div>

    <div class="form-group">
      <button type="submit"
              class="btn btn-primary"
              asp-page-handler="NextCoffee">
        Next Coffee
      </button>
    </div>

  </form>