@page
@model CoffeeSlotMachine.Web.Pages.OrderThruCoffeeListModel
@{
}

<h2>@ViewData["Message"]</h2>

<form method="post">

    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderCoffeeItems[0].ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderCoffeeItems[0].PriceInCents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderCoffeeItems[0].NrOfOrders)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderCoffeeItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.PriceInCents)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.NrOfOrders)
                    </td>
                    <td>
                        <button type="submit"
                                class="btn btn-primary"
                                asp-page-handler="ProductSelected"
                                asp-route-productId="@item.ProductId">
                            Select Product
                        </button>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</form>